body#gsr.hp.vasq{
    /* background-image: url("https://wallpaperaccess.com/full/1331874.jpg"); */
    background-image: url("https://pbs.twimg.com/media/EA4bSNdWsAY88ck.jpg");
}
div.gb_xe.gb_R.gb_Me.gb_Ee {
    font-weight: bold;
    font-size: 15px;
   }